In [21]:
import pandas as pd

In [22]:
bp = pd.read_csv("BP_labels.csv")

In [23]:
bp['0']

0      120
1      140
2      150
3      130
4      110
      ...
547    140
548    116
549    140
550    114
551    127
Name: 0, Length: 552, dtype: int64

In [24]:
def get_bp_label(x):
    if (90 <= x and x <= 140):
        return 0
    return 1

In [25]:
bp["1"] = [get_bp_label(bp['0'][i]) for i in range(len(bp))]

In [26]:
bp

       0  1
0    120  0
1    140  0
2    150  1
3    130  0
4    110  0
..   ... ..
547  140  0
548  116  0
549  140  0
550  114  0
551  127  0

[552 rows x 2 columns]

In [27]:
bp.to_csv("final_labels.csv")